@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-bg-tertiary: white;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-border: #e5e7eb;
  --color-button-bg: #f9fafb;
  --color-button-hover: #f3f4f6;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  
  --color-bg-primary: #111827;
  --color-bg-secondary: #1f2937;
  --color-bg-tertiary: #464d58;
  --color-text-primary: #f3f4f6;
  --color-text-secondary: #d1d5db;
  --color-border: #374151;
  --color-button-bg: #1f2937;
  --color-button-hover: #374151;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.bg-custom-primary {
  background-color: var(--color-bg-primary);
}

.bg-custom-secondary {
  background-color: var(--color-bg-secondary);
}

.bg-custom-tertiary {
  background-color: var(--color-bg-tertiary);
}

.text-custom-primary {
  color: var(--color-text-primary);
}

.text-custom-secondary {
  color: var(--color-text-secondary);
}

.border-custom {
  border-color: var(--color-border);
}

.button-bg {
  background-color: var(--color-button-bg);
}

.hover\:bg-custom-tertiary:hover {
  background-color: var(--color-bg-tertiary);
}

.hover\:button-bg-hover:hover {
  background-color: var(--color-button-hover);
}

.nav-button {
  transition: background-color 0.2s ease;
}